spring:
  datasource:
    url: jdbc:postgresql://{{ db_host }}:{{ db_port }}/{{ db_name }}?currentSchema={{ db_schema }}
    username: {{ db_user }}
    password:
    driver-class-name: org.postgresql.Driver
    hikari:
      schema: {{ db_schema }}

liquibase:
  enabled: true
  contexts: dev,mock-banks,xs2a-banks
  user: obg