[Unit]
Description=ASPSP Profile Server
After=network.target

[Service]
User=root
ExecStart=/usr/bin/java -jar /usr/share/java/aspsp-profile-exec.jar
SuccessExitStatus=143
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
