[Unit]
Description=Admin Rest Server
After=network.target

[Service]
User=root
Environment=DB_HOST={{ cms_db_host }}
Environment=DB_PORT={{ cms_postgres_host_port }}
Environment=DB_NAME={{ cms_db_name }}
ExecStart=/usr/bin/java -jar /usr/share/java/admin-rest-server.jar --spring.profiles.active=postgres --db.host=${DB_HOST} --db.port=${DB_PORT} --db.database=${DB_NAME}
SuccessExitStatus=143
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
