[Unit]
Description=CMS Standalone Service
After=network.target

[Service]
User=obg
Environment=SERVER_KEY=mySecretKey
Environment=SPRING_DATASOURCE_URL=jdbc:postgresql://{{ cms_db_host }}:{{ cms_postgres_host_port }}/{{ cms_db_name }}
ExecStart=/usr/bin/java -jar /usr/share/java/consent-management.jar
SuccessExitStatus=143
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
