[Unit]
Description=CMS Standalone Service
After=network.target docker.service
Requires=docker.service

[Service]
User=obg
Environment=SERVER_KEY=mySecretKey
ExecStart=/usr/bin/java -jar /usr/share/java/consent-management.jar
SuccessExitStatus=143
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
