spring:
  datasource:
    url: jdbc:postgresql:///open_banking?socketFactory=org.newsclub.net.unix.AFUNIXSocketFactory$FactoryArg&socketFactoryArg=/var/run/postgresql/.s.PGSQL.5432
    username: {{ db_user }}
    driver-class-name: org.postgresql.Driver
    use-user-credentials: true

liquibase:
  enabled: false
  contexts: dev,mock-banks,xs2a-banks