[Unit]
Description=FinTech Server Service
After=network.target postgresql.service

[Service]
User=obg
ExecStart=/usr/bin/java -jar /usr/share/java/fintech-server-1.0.2-SNAPSHOT-exec.jar \
  --spring.config.location=classpath:/,file:/etc/obg/application.yml
Environment="TPP_URL=http://localhost:4444"
Environment="FINTECH-UI_HOST=http://localhost:24200"
SuccessExitStatus=143
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
