[Unit]
Description=Open Banking Gateway Service
After=network.target

[Service]
User=obg
ExecStart=/usr/bin/java -jar /usr/share/java/open-banking-gateway-1.0.2-SNAPSHOT-exec.jar \
  --spring.config.location=classpath:/,file:/etc/obg/application-override.yml
Environment="SPRING_LIQUIBASE_PARAMETERS_ADORSYS-SANDBOX-URL=https://obg-bank-dev-xs2a.cloud.adorsys.de"
Environment="SPRING_LIQUIBASE_PARAMETERS_ADORSYS-HBCI-SANDBOX-URL=http://localhost:8090/hbci-mock/"
SuccessExitStatus=143
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
